# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.iml
target/
.idea/
.settings/
.project
.classpath

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store
.AppleDouble
.LSOverride
.gitattributes

ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCoC+z83F7czoTojjaLB3dWW/277FLYDJPFVoI5v8eBGyF7KP6brHVBolUQ2f5KyWmxTo9a+UwVuh2nnzOAk7G8cM4Tm0t4Jv+NwyOC+Mv91k0mGrE2OF3yMT4IB6+Ohj84FbdsLgb1OrVooe2amctgXuwSUGC+uBKI5AOZguDZNDDfunEpwYa3g8+6MaDDjXYfHulA+jgCYjwNe0DC/1P7x50NdZDHnhWv6G+ozIWK4U4PwbCiB40BOeM9GWHmTNMLPIzJ+m0Vykz0uv4sZvMoSntrcLFIg43FeaAfI15qZa3appA1v2qTEOZhrmsC6CMnY3NexZkeWxyEsYCnnR5h root@a146fdcc7102